/* Navbar Container */
.user-interface-container {
  background-color: #2b2faa;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  text-align: center;
  box-shadow: #2b2faa;
}

/* Navbar Header */
.navbar-header {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
  color: white;
}

/* Toggle Menu Button */
.toggle-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

/* Hamburger Bars */
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

/* Close Icon */
.close-icon {
  font-size: 20px;
  color: white;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 60px; /* Position below the button */
  right: 20px;
  background-color: #2b2faa;
  ;
  color: black;
  border: 1px solid #2b2faa;
  border-radius: 5px;
  width: 250px;
  z-index: 1000;
  padding: 15px;
  box-shadow: #2b2faa;
  text-align: left;
}

/* Action Buttons */
.action-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sign-up-button {
  background-color: #007bff;
  color: white;
}

.sign-up-button:hover {
  background-color: #0056b3;
}

.login-button {
  background-color: white;
  color: #007bff;
}

.login-button:hover {
  background-color: #e6e6e6;
}

/* Help Label */
.help-label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/* Help Button Styling */
.help-button {
  background-color: #2b2faa;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.help-button:hover {
  background-color: #000000; /* Light gray hover effect */
}

